<h1>About the Game</h1>
<mat-accordion class="info" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How to Play
            </mat-panel-title>
            <mat-icon>videogame_asset</mat-icon>
        </mat-expansion-panel-header>
    Welcome to NBA Higher or Lower! The rules are simple: given two players who were in
    the top ten for a given stat category (points per game, rebounds per game, etc.), select the player
    you think had the higher stat using the "left" or "right" buttons. If you're correct, you get a point.
    If you're wrong, you have to start over. See how high of a streak you can get, and challenge your friends!
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Where did these stats come from?
            </mat-panel-title>
            <mat-icon>library_books</mat-icon>
        </mat-expansion-panel-header>
    All stats were taken from Basketball Reference's "NBA & ABA Leaders and Records"
    page (<a href="https://www.basketball-reference.com/leaders/">listed here</a>).
    </mat-expansion-panel>
</mat-accordion>
